* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}
/* NAV BAR */
.navbar {
    background-color: white;
    color: #fff;
    padding-left: 25px;
    padding-right: 25px;
}

h1 {
    color: white;
    margin: 5px;
    display: flex;
    justify-content: center;
}

.navdiv {

    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

li {
    list-style: none;
    display: inline-block
}

li a {
    color: black;
    font-size: 16px;
    font-weight: bold;
    margin-right: 25px;
}
    
/* BODY LAYOUT - front page*/

.content {
    color: white;
    display: flex;
    flex-direction: column;
    max-width: 700px;
    padding: 30px 100px;

}

.photo img {
    max-width: 700px;
    float: right;
}
/* ABOUT ME PAGE STARTS */

/* text one */

#air-force-veteran {
    display: flex;
    justify-content: flex-end; 
    padding: 20px 10px; 
    background-color: black; 
    padding-right: 100px;
    padding-left: 100px;
}

.content-container {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
}

.text-content {
    color: white; 
    max-width: 70%; 
    line-height: 1.6;
    font-family: Arial, sans-serif; 
    margin-right: 20px; 
}

.text-content h2 {
    font-size: 24px;
   
}

.text-content p {
    font-size: 14px;
}

.text-content hr {
    margin-top: 20px;
    border: 0;
    border-top: 1px solid #ccc; 
}

.image-container {
    max-width: 200px; 
}

.image-container img {
    width: 100%; 
    height: auto;
    padding: 0px; 
}

/* text 2 */

#air-force-veteran2 {
    display: flex;
    justify-content: flex-end; 
    padding: 20px 10px; 
    background-color: black; 
    padding-right: 100px;
    padding-left: 100px;
}

.content-container2 {
    display: flex;
    justify-content: space-between; 
}

.text-content2 {
    color: white; 
    max-width: 70%; 
    line-height: 1.6; 
    font-family: Arial, sans-serif; 
    margin-right: 20px; 
}

.text-content2 h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.text-content2 p {
    font-size: 14px;
}

.text-content2 hr {
    margin-top: 20px;
    border: 100%;
    border-top: 1px solid #ccc; 
}

.image-container2 {
    max-width: 200px; 
}

.image-container2 img {
    width: 100%; 
    border: 1px solid #ccc; 
    padding: 5px; 
    background-color: #f9f9f9; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* text 3 */

 #air-force-veteran3 {
    display: flex;
    justify-content: flex-end; 
    padding: 20px 10px; 
    background-color: #333; 
    padding-right: 100px;
    padding-left: 100px;
}

.content-container3 {
    display: flex;
    justify-content: space-between; 
}

.text-content3 {
    color: white; 
    max-width: 70%; 
    line-height: 1.6; 
    font-family: Arial, sans-serif; 
    margin-right: 20px; 
}

.text-content3 h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.text-content3 p {
    font-size: 14px;
}

.text-content3 hr {
    margin-top: 20px;
    border: 100%;
    border-top: 1px solid #ccc; 
}

.image-container3 {
    max-width: 200px; 
}

.image-container3 img {
    width: 100%; 
    border: 1px solid #ccc; 
    padding: 5px; 
    background-color: #f9f9f9; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* contact me boxes */

.contactbox {
    display: flex;
    justify-content: center;

}
.contactcontain {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
    max-width: 400px; 
}

input, button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: dodgerblue;
}

/* Portfolio Page */
.sections-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 5px solid white;

}

h2 {
    color: #f9f9f9;
    font-size: 18pt;
}

.project {
    flex: 1;
    margin: 0 10px; 
    box-sizing: border-box;
}

.project-content {
    display: flex;
    flex-direction: column; 
    color: black;
    background-color: lightgrey;
    width: 350px;
    height: 800px;
    padding: 10px; 
    justify-content: space-between;
    gap: 20px;
}


.port-photo {
    text-align: center;
}
.port-photo img {
    max-width: 100%; 
    height: 200px; 
    text-align: center;
    border: 5px solid black;
}

.column {
    flex: 1;
    padding: 10px;
    margin: 0 10px; 
    box-sizing: border-box;
}

.header1 {
    color: black;
}

.header2 {
    color: black;
}

.header3 {
    color: black;
}
